

<h1>{{ encuesta.pregunta }}</h1>
<ul>
{% for respuesta in encuesta.respuesta_set.all %}
    <li>{{ respuesta.respuesta }} - Votos:{{ respuesta.votos }}</li>
{% endfor %}
</ul>




{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url encuestas:voto encuesta.id  %}" method="post">
{% csrf_token %}
{% for respuesta in encuesta.respuesta_set.all %}
    <input type="radio" name="resp" id="respuesta{{ forloop.counter }}" value="{{ respuesta.id }}" />
    <label for="respuesta{{ forloop.counter }}">{{ respuesta.respuesta }}</label><br />
{% endfor %}
<input type="submit" value="Votar" />
</form>